# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

### Step 3. Let's create a DataFrame by joinning the Series by column

   0  1      2
0  1  3  15021
1  3  3  25256
2  4  2  12985
3  1  1  11019
4  4  2  27672

(100, 3)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

    bedrs  bathrs  price_sqr_meter
95      3       1            16475
96      4       2            25649
97      2       3            14047
98      4       2            22052
99      2       1            21513

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

(300, 1)

    bigcolumn
95      16475
96      25649
97      14047
98      22052
99      21513

### Step 6. Oops, it seems it is going only until index 99. Is it true?

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

(300, 100)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

RangeIndex(start=0, stop=300, step=1)